@import url("/css/master.css");

.homepage {
  position: relative;
  height: 450px;
  padding: var(--bx-100);
}

.homepage .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: calc(var(--bx-50) / 1.5);
  filter: brightness(75%);
  z-index: -1;
}

.homepage .title {
  color: var(--white-50);
  text-align: center;
  font-size: calc(var(--bx-200) * 1.5);
  font-weight: 600;
}

.form-homepage {
  width: 100vh;
  padding: var(--bx-200);
  background: rgba(255, 255, 255, 0.75);
  border-radius: calc(var(--bx-50) / 1.5);
  box-shadow: var(--shadow-50);
  backdrop-filter: blur(90px);
  transform: translateY(100%);
  z-index: 5;
}
